section#room(ng-controller='RoomController', ng-init='room="#{room}"; as="#{as}"')
  #sidebar
    a.logo(href=pathTo.root()) chantbox.io
    h6 Users on ##{room}
    ul.users
      li(ng-repeat="u in users")
        img(ng-src="//www.gravatar.com/avatar/{{u.hash}}?s=50")
        .name {{u.name}}
        .joined joined {{u.joined | date: 'yyyy-MM-dd HH:mm'}}

  #chatter
    h2 ##{room}

    ul
      li(ng-repeat="m in messages", ng-class="{{m.type}}")
        time {{m.time | date: 'yyyy-MM-dd HH:mm'}}
        span.content {{m.content}}
        
  input#input(ng-model='input')


