#head_login
  if (user)
    a.sign_in_twitter(href='/auth/logout') !{avatar(user, 'small')} logout
  if (!user)
    - var twitter = '/auth/twitter' + (room ? '?room='+room : '')
    a.sign_in_twitter(href=twitter) Login with Twitter

#head
  img(src='/images/1393359638_maneki.png', style="display: block; margin: auto")
  a.logo(href=pathTo.root()) chantbox.io

section#intro
  .container
    h1 effortlessly chat & chant with friends and colleagues
    form(onsubmit="location.href='/r/'+this.room.value; return false")
      | chantbox.io/r/
      input(type="text", name="room", value=randomHash())
      input(type="submit", value="JOIN")

  #info
    p Random room are anonymous and private, no history is saved
    p <a href='/auth/twitter'>Sign-in</a> using twitter to fixate room and gain chat history
    p Feedback and comments are welcome on <a href="/r/chantbox">#chantbox</a>

footer
  ul
    li.r created for funs by 
      a(href='http://twitter.com/sagish') @sagish 
    li <a href="https://twitter.com/share?url=http://chantbox.io&text=Chat and Chant on chantbox.io" class="twitter-share-button" data-lang="en">Tweet</a>
    li <iframe src="http://ghbtns.com/github-btn.html?user=sagish&repo=chantbox.io&type=watch&count=true" height="20" width="70" frameborder="0" scrolling="0" style="width:70px; height: 20px;" allowTransparency="true"></iframe>

| <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

| <a href="https://github.com/sagish/chantbox.io"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>