#head_login
  a(href=pathTo.root()) chantbox.io
  if (user)
    a(href='/auth/logout') !{avatar(user, 'small')} logout
  if (!user)
    a(href="/auth/twitter?room=#{room.name}") Login with Twitter

section#room(ng-controller='RoomController', ng-init='room="#{room.name}"')
  section#sidebar
    if (room.settings.fixed)
      div(class="room_type room_type_fixed")
        p Fixed room, conversations are ON record.
        p You can visit it again by using the same URL
        p Room created by @#{room.creator.screen_name}
    else
      div(class="room_type room_type_anonymous") 
        p Temporary room, conversations are off record

    h5.onroom Users on ##{room.name}
    ul.users
      li(ng-repeat="u in users")
        img(ng-src="{{u.avatar}}", width="48", height="48", class="avatar normal")
        .name {{u.screen_name}}
        .joined Online

  section#chatter
    h1 ##{room.name}

    ul
      li(ng-repeat="m in messages", ng-class="m.type")
        img(ng-src="{{m.user.avatar}}", width="24", height="24", ng-show="m.type == 'user'").avatar.small
        time {{m.time | date: 'yyyy-MM-dd HH:mm'}}
        span.content {{m.content}}
  
  #notification(ng-class="{hidden: !notification}") {{notification}}
  input#input(ng-keyup="send($event)", placeholder="arigatou hey!")


